<h1>Crear Participante</h1>
<form method="POST">
  <input name="nombre" placeholder="Nombre" required />
  <input name="apellido" placeholder="Apellido" required />
  <input name="genero" placeholder="Genero" required />
  <input name="fecha_nacimiento" type="date" required />
  <input name="grado_escolar" placeholder="Grado Escolar" required />
  <input name="id_institucion" type="number" placeholder="ID Institucion" required />
  <button type="submit">Guardar</button>
</form>
<h1>Crear Evento</h1>
<form method="POST">
  <input name="nombre" placeholder="Nombre" required />
  <input name="fecha" type="date" required />
  <input name="modalidad" placeholder="presencial/virtual" required />
  <input name="id_categoria" placeholder="ID Categoría" type="number" required />
  <button type="submit">Crear</button>
</form>
